<!DOCTYPE html>
<html>
<head>
  <title>Xpay</title>
  <%= stylesheet_link_tag    "xpay/application", :media => "all" %>
  <%= javascript_include_tag "xpay/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
